:root {
    --color-primary: #3e588b;
    --color-primary-light: #96aedd;
    --color-accent: #6a96ed;
    --color-background: #ffffff;
    --color-text: #000000;
    --color-text-muted: #333333;
    --color-bg-muted: #f0f0f0;
    --color-bg-light: #eff3fa;
    --color-shadow: rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --color-primary: #aa66fe;
    --color-accent: #bb86fc;
    --color-background: #1e1e1e;
    --color-text: #e0e0e0;
    --color-bg-light: #121212;
    --color-shadow: rgba(255, 255, 255, 0.1);
}


body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
    background-color: var(--color-background);
    color: var(--color-text);
}


header {
    background-color: var(--color-background);
    padding: 0.7%;
    font-family: "Roboto Condensed", sans-serif;
}


.menu-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: right;
    margin-right: 10%;
}


.menu-button {
    font-size: 2rem;
    background: var(--color-background);
    color: var(--color-text);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.menu-button:hover {
    color: var(--color-accent);
}


.menu {
    position: absolute;
    top: 50px;
    width: 80%;
    margin-left: 17%;
    background: var(--color-background);
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    box-shadow: 0px 4px 6px var(--color-shadow);
    z-index: 10;
}

.menu a {
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    padding: 10px;
    color: var(--color-text);
    transition: background 0.3s;
}

.menu a:hover {
    background: var(--color-background);
}


.school {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
}

.container {
    position: relative;
}

.music-school {
    top: 85%;
    left: 2%;
    max-width: 50%;
    position: absolute;
    background-color: var(--color-background);
}

.music-school p {
    max-width: 80%;
    color: var(--color-text);
}

.school img {
    max-width: 80%;
    margin-left: 10%;
}

.school h2 {
    color: var(--color-primary);
    font-size: 4rem;
    font-weight: 700;
    margin: 10% 0;
    line-height: 1;
}

.lightblue {
    background-color: var(--color-accent);
    padding: 25% 20% 15%;
    max-width: 100%;
    margin-bottom: 5%;
    margin-top: -1%;
}

.deepblue {
    background-color: var(--color-primary);
    padding: 0 20% 5%;
    max-width: 100%;
}


.pedagogy {
    background-color: var(--color-bg-light);
    display: flex;
}

.title {
    background-color: var(--color-primary);
    margin: 5% 10%;
    padding: 23% 0;
}

.title h2 {
    color: var(--color-background);
    font-size: 4rem;
    font-weight: 700;
    margin: 20px;
    line-height: 1;
}

.info img {
    max-width: 60%;
    margin: 13% 0 0;
}

.info p:first-of-type {
    color: var(--color-primary);
    padding: 0 0 15px;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.2;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.info p:last-of-type, ul {
    font-size: 1.2rem;
    color: var(--color-text);
}


#theme-button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    color: var(--color-text);
}


@media (min-width: 769px) and (max-width: 992px) {
    .music-school {
        max-width: 60%;
        font-size: 1.5rem;
    }

    .school h2 {
        font-size: 3rem;
    }

    .title h2 {
        font-size: 3rem;
    }

    .info p:first-of-type {
        font-size: 2rem;
    }

    .info p:last-of-type,
    ul {
        font-size: 2rem;
    }

    .info img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }


    .school {
        padding-top: 15px;
    }

    .container {
        width: 100%;
    }

    .music-school {
        position: relative;
        top: 0;
        left: 0;
        max-width: 90%;
        margin: 20px auto;
    }

    .music-school p {
        font-size: 1.2rem;
    }

    .school img {
        max-width: 100%;
        margin-left: 0;
    }

    .school h2 {
        font-size: 2rem;
        margin: 5% 0;
    }


    .pedagogy {
        flex-direction: column;
    }

    .title {
        margin: 5%;
        padding: 15% 0;
    }

    .title h2 {
        font-size: 2rem;
        margin: 10px;
    }

    .info p {
        margin: 2%;
    }

    .info img {
        max-width: 100%;
        margin: 5% 0;
    }


    .menu-container {
        margin-right: 5%;
    }

    .info p:first-of-type {
        font-size: 1.2rem;
    }

    .info p:last-of-type,
    ul {
        font-size: 1.2rem;
    }

    .lightblue,
    .deepblue {
        padding: 15% 20%;
    }
}

@media (max-width: 480px) {
    .menu a {
        font-size: 1.2rem;
        padding: 15px;
    }

    .school h2 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 2rem;
    }

    .lightblue,
    .deepblue {
        padding: 20%;
    }
}