DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pass
DB_NAME=db_name

JWT_SECRET_KEY=secretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

VITE_API_BASE_URL=http://localhost:8000/api/v1